---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import FeatureCard from '../components/FeatureCard.astro';
---

<Layout title='About'>
	<main>
		<div class='flex flex-col justify-between'>
		<div class='px-12 py-8 bg-black'>
			<Header />
			<div class='flex-row'>
				<div class='w-full flex'>
					<h1 class='text-2xl md:text-4xl mt-36 max-w-4xl'>NON-CUSTODIAL, HIGH PERFORMANCE ORDER BOOK FOR PERPETUALS AND SPOT TRADING.</h1>
				</div>
				<div class='w-full border-t-[1px] mt-12 border-gray-400'/>
				<div class='mt-4'>
					<div class='my-24 text-2xl md:text-4xl max-w-md'><italic class='italic'>Efficient</italic> approach to order books.</div>
				</div>
				<div class='max-w-2xl mb-32'>
					<p class='text-lg'>
						Sail is a predicate and intent-based trading protocol, setting a standard that empowers seamless trading of any asset whose ownership can be represented on-chain.
						 At the core of its design is a commitment to ensuring optimal efficiency, minimizing state bloat and maintaining scalability. 
						</p>
				</div>
			</div>
		</div>
		<Footer/>
	</div>
	</main>
</Layout>
