---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
---

<Layout title='Docs'>
	<main>
		<div class='flex flex-col justify-between'>
		<div class='px-12 py-8 h-[100vh] bg-black'>
			<Header />
				<h1 class='text-4xl text-white pt-36 font-hubot'>
					Documentation
				</h1>
				<p class='text-2xl mt-24 max-w-sm'>
					Documentation on the REST API, Websockets and SDKs coming soon.
				</p>
		</div>
		<Footer/>
	</div>
	</main>
</Layout>
