<div
			class='bg-sky-700 w-full h-12 flex items-center justify-center'
		>
			Currently in private beta. Get in touch&nbsp;<a
				href='mailto:support@sail.exchange'
				class='underline'>here</a
			>.
		</div>