---
// export interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<div class='h-[5vh] bg-neutral-900 px-12 py-8 text-black flex items-center'>
	<div class='text-lg text-neutral-400'>Sail © 2023</div>
</div>