<div class='flex w-full items-center justify-between'>
	<div>
		<a class = 'flex flex-row items-center' href='/'>
			<img class="rounded-lg mr-2" width="70" src="https://s.mj.run/zNZHUYpMppI" alt="Sail company logo.">
			<h1 class='font-hubot uppercase text-4xl font-semibold'>Sail</h1>
		</a>
	</div>
	<div class='space-x-12 text-xl'>
		<a class='hover:underline cursor-pointer' href='/about'>About</a>
		<a class='hover:underline cursor-pointer' href='/docs'>Docs</a>
	</div>
</div>