---
import GithubIcon from './GithubIcon.astro';
import TwitterIcon from './TwitterIcon.astro';
import { Image } from '@astrojs/image/components';
import sailLogo from '../../assets/sailLogo.png'
import sailLogoTrans from '../../assets/SailLogoTrans.png'

---

<div class='flex w-full items-center justify-between'>
	<div>
		<a class = 'flex flex-row items-center' href='/'>
			<div class="w-30 border-0">
				<img class="w-40" src= 'https://shorturl.at/nHNUW' alt="Sail company logo.">
			</div>
		</a>
	</div>
	<div class='space-x-2 sm:space-x-4 md:space-x-8 lg:space-x-12 xl:space-x-12 text-xl'>
		<a class='hover:underline cursor-pointer' href='/about'>About</a>
		<a class='hover:underline cursor-pointer' href='/docs'>Docs</a>
	</div>
</div>