<div class='flex w-full items-center justify-between'>
	<div>
		<a href='/'>
			<h1 class='font-hubot uppercase text-4xl font-semibold'>Sail</h1>
		</a>
	</div>
	<div class='space-x-12 text-xl'>
		<a class='hover:underline cursor-pointer' href='/about'>About</a>
		<a class='hover:underline cursor-pointer' href='/docs'>Docs</a>
	</div>
</div>